.socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-social-logo:hover {
  filter: invert(28%) sepia(13%) saturate(3207%) drop-shadow(2px 16px 10px black);
}

.social-logo_img {
  filter: invert();
  width: 50px
}

.page-footer {
  padding: 0;
}